* {
    background-color: tomato;
}
.nft {
    position: relative;
    max-width: 100px;
    max-height: 80px;
}
.body {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}
.eyes {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}
.hair {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);

}